/*
 * when the user visits this page, this style will apply, when they leave, it
 * will get unloaded, so don't worry so much about conflicting styles between
 * pages!
 */

body {
  background-image: var(--gradient-background);
}

.body {
  padding: 0 45px;
}

.container {
  min-height: inherit;
}

.container,
.content {
  display: flex;
  flex-direction: column;
}

.center-text {
  text-align: center;
}

.sideMargin {
  margin: 0 24px;
}

.sidePad {
  padding-left: 24px;
  padding-right: 24px;
}

.topPad {
  padding-top: 12px;
}

.bottomPad {
  padding-bottom: 12px;
}

.vertPad {
  padding-top: 12px;
  padding-bottom: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.grow {
  flex-grow: 1;
}

.space {
  gap: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.cap {
  text-transform: capitalize;
}

.tight {
  line-height: 1.3rem;
}

.content {
  padding: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  margin-left: -40px;
}

.card {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card footer {
  min-height: 48px;
}

.cardImageWrap {
  height: 230px;
  text-align: center;
}

.cardImage {
  width: 100%;
  max-height: 230px;
  object-fit: contain;
}

.dark {
  background-color: var(--color-border-dark);
}

h1 {
  margin: 0;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 0.5;
}

h1 span {
  display: block;
  font-size: 4.5rem;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5), 0 5px 0 rgba(0, 0, 0, 0.75);
}

.table-wrap {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

thead tr {
  background-color: var(--color-table-head);
  color: #fff;
  text-align: left;
}

th,
td {
  padding: 6px 12px;
}

tbody tr {
  border-bottom: thin solid var(--color-border-table);
}

tbody tr:last-child {
  border-bottom: 5px solid var(--color-table-head);
}

tbody tr:nth-child(even) {
  background-color: var(--color-table-row-even);
  /* color: #fff; */
}

.footer-padding {
  padding-bottom: var(--height-footer-mobile);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: var(--height-footer-mobile);
  background-color: var(--color-footer-background);
  padding: 24px;
  font-size: 0.8rem;
}

.mr-4 {
  margin-right: 4px;
}

.desktop-only {
  display: none;
}

/* tbody td {
  text-align: center;
} */

@media print, (min-width: 640px) {
  h1 span {
    font-size: 6rem;
  }

  nav ul {
    font-size: 1.25rem;
    gap: 1.5rem;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 280px;
  }

  .footer {
    font-size: 1rem;
  }

  .desktop-only {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 180px;
    margin-bottom: -30px;
  }

  nav h1 {
    display: block;
  }

  .footer-padding {
    padding-bottom: var(--height-footer-desktop);
  }

  .footer {
    height: var(--height-footer-desktop);
  }
}

@media screen and (min-width: 1024px) {
  h1 span {
    font-size: 8rem;
  }
}
